################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/csharp-basics/bin/Debug/netcoreapp3.1
/csharp-basics/obj
